<mat-toolbar *ngIf="isAuth == true" class="toolbar mat-elevation-z4">
    <div class="toolbar-menu" fxLayout fxLayoutAlign="center">
        <h1 class="toolbar-header">Menu</h1>
    </div>
    <div class="toolbar-title" fxLayout fxLayoutAlign="center">
        <h1 class="toolbar-header">{{title}}</h1>
    </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="isAuth == true" opened mode="side" class="sidenav" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
        <mat-list class="sidenav-list">
            <div fxLayout fxLayoutAlign="center center" class="sidenav-subheader-container">
                <h3 class="sidnav-subheader">Livros</h3>
            </div>
            <mat-divider></mat-divider>
            <div class="button-container">
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('cadastrar-livro', 'Cadastrar Livro')">
                    Cadastrar Livro
                </div>
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-livros', 'Lista de Livros')">
                    Lista de Livros
                </div>
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('alugar-livro', 'Alugar Livro')">
                    Alugar Livro
                </div>
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('devolver-livro', 'Devolver Livro')">
                    Devolver Livro
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout fxLayoutAlign="center center" class="sidenav-subheader-container">
                <h3 class="sidnav-subheader">Usuários</h3>
            </div>
            <mat-divider></mat-divider>
            <div class="button-container" >
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('cadastrar-usuario', 'Cadastrar Usuário')"> 
                    Cadastrar Usuário
                </div>
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-usuarios', 'Lista de Usuários')">
                    Lista de Usuários
                </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout fxLayoutAlign="center center" class="sidenav-subheader-container">
                <h3 class="sidnav-subheader">Notícias</h3>
            </div>
            <mat-divider></mat-divider>
            <div class="button-container">
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('cadastrar-noticia', 'Cadastrar Notícia')">
                    Cadastrar Notícia
                </div>
                <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-noticias', 'Lista de Notícias')">
                    Lista de Notícias
                </div>
            </div>
            <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="logout()">
                Sair
            </div>
        </mat-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
