<mat-sidenav-container class="sidenav-container">
    <mat-sidenav *ngIf="isAuth == true" opened mode="side" class="sidenav" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
        <mat-toolbar *ngIf="isAuth == true" class="toolbar mat-elevation-z4">
            <div class="toolbar-menu" fxLayout fxLayoutAlign="center">
                <img class="toolbar-logo" src="./../assets/logo_branca.png">
            </div>
        </mat-toolbar>
        <mat-accordion class="sidenav-list" [displayMode]="flat">
            <mat-expansion-panel class="sidenav-subheader-container">
                <mat-expansion-panel-header matRipple [matRippleColor]="primary">
                    <mat-icon>book</mat-icon>
                    <h3 class="sidnav-subheader">Livros</h3>
                </mat-expansion-panel-header>
                <div class="button-container">
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('alugar-livro')">
                        <b>Alugar Livro</b>
                    </div>
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('devolver-livro')">
                        <b>Devolver Livro</b>
                    </div>
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-alugueis')">
                        <b>Lista de Aluguéis</b>
                    </div>
                    <div class="sidenav-button"  matRipple [matRippleColor]="primary" (click)="changePage('cadastrar-livro')">
                        <b>Cadastrar Livro</b>
                    </div>
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-livros')">
                        <b>Lista de Livros</b>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="sidenav-subheader-container">
                <mat-expansion-panel-header matRipple [matRippleColor]="primary">
                    <mat-icon>person</mat-icon>
                    <h3 class="sidnav-subheader">Usuários</h3>
                </mat-expansion-panel-header>
                <div class="button-container">
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('cadastrar-usuario')">
                        <b>Cadastrar Usuário</b>
                    </div>
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-usuarios')">
                        <b>Lista de Usuários</b>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="sidenav-subheader-container">
                <mat-expansion-panel-header matRipple [matRippleColor]="primary">
                    <mat-icon>people</mat-icon>
                    <h3 class="sidnav-subheader">Turmas</h3>
                </mat-expansion-panel-header>
                <div class="button-container">
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('cadastrar-turma')">
                        <b>Cadastrar Turma</b>
                    </div>
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-turmas')">
                        <b>Lista de Turmas</b>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="sidenav-subheader-container">
                <mat-expansion-panel-header matRipple [matRippleColor]="primary">
                    <mat-icon>speaker_notes</mat-icon>
                    <h3 class="sidnav-subheader">Notícias</h3>
                </mat-expansion-panel-header>
                <div class="button-container">
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('postar-noticia')">
                        <b>Postar Notícia</b>
                    </div>
                    <div class="sidenav-button" matRipple [matRippleColor]="primary" (click)="changePage('lista-noticias')">
                        <b>Lista de Notícias</b>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="sidenav-subheader-container" hideToggle="true">
                <mat-expansion-panel-header matRipple [matRippleColor]="primary" (click)="changePage('historico-logs')">
                    <mat-icon>history</mat-icon>
                    <h3 class="sidnav-subheader">Histórico</h3>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel class="sidenav-subheader-container" hideToggle="true">
                <mat-expansion-panel-header matRipple [matRippleColor]="primary" (click)="logout()">
                    <mat-icon>keyboard_return</mat-icon>
                    <h3 class="sidnav-subheader">Sair</h3>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
