<div fxLayout="column" fxLayoutAlign="center center">
  <h1 class="title">Confirmar o Aluguel</h1>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <span><b>Confira os dados do aluguel e, caso esteja tudo correto, clique em confirmar.</b></span>

    <div fxLayout="column" fxLayoutAlign="center center">
      <span>Livro: <b>{{book.title}}</b></span>
      <span>Autor: <b>{{book.author}}</b></span>
      <span>Usuário: <b>{{book.title}}</b></span>
    </div> 
  
    <div fxLayout fxLayoutGap="20px" class="v-input">
      <button mat-raised-button class="dialog-button" color="warn" (click)="previousDialog()">Voltar</button>
      <button mat-raised-button class="dialog-button" color="primary" (click)="confirmBorrow()">Confirmar</button>
    </div>
  </div>
</div>