<div class="title-bar" fxLayout fxLayoutAlign="center center">
  <h1 class="title">Créditos da Aplicação</h1>
</div>
<section fxLayout="column" fxLayoutAlign="center center">
  <div class="description">
    <p>Aplicação desenvolvida na disciplina de Projeto Integrado I, do 3º semestre do curso de Sistemas e Mídias Digitais da Universidade Federal do Ceará.</p>
  </div>
  <div class="members" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="title">Desenvolvido por:</h2>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
      <div class="member" fxLayout="column" fxLayoutAlign="center center">
        <img class="img" src="../../../assets/adrian.jpg">
        <h3>Adrian Júnior</h3>
      </div>
      <div class="member" fxLayout="column" fxLayoutAlign="center center">
        <img class="img" src="../../../assets/thais.jpg">
        <h3>Thais Torres</h3>
      </div>
      <div class="member" fxLayout="column" fxLayoutAlign="center center">
        <img class="img" src="../../../assets/eduardo.jpg">
        <h3>Eduardo Regis</h3>
      </div>
    </div>
  </div>
  <div class="teachers" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="title">Professores Orientadores:</h2>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
        <div class="member" fxLayout="column" fxLayoutAlign="center center">
          <img class="img" src="../../../assets/fatima.jpg">
          <h3>Fátima Souza</h3>
        </div>
        <div class="member" fxLayout="column" fxLayoutAlign="center center">
          <img class="img" src="../../../assets/rafael.jpg">
          <h3>Rafael Carmo </h3>
        </div>
        <div class="member" fxLayout="column" fxLayoutAlign="center center">
          <img class="img" src="../../../assets/mateus.jpg">
          <h3>Mateus Pinheiro</h3>
        </div>
    </div>
  </div>
</section>