#title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 0px 32px 32px 32px;
}

.header {
    min-height: 64px;
    padding: 8px 24px 0;
    background: white;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-table {
    overflow: auto;
    max-height: 500px;
}

.row:hover,
.row:active{
    cursor: pointer;
    background: rgba(104, 58, 183, 0.4);
}

.drawer-container {
    padding: 0;
    height: 100%;
}

.drawer {
    width: 600px;
    height: 100%;
    padding-top: 32px;
}

.v-input {
    width: 400px;
}

.h-input {
    width: 85px;
}

.bp-btn {
    width: 200px;
}

.user-error-content {
    height: 100vh;
    width: 100vw;
}

.title-bar {
    height: 72px;
}

.title {
    margin: 0;
    color: rgba(104, 58, 183, 0.8);
}