<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-evenly center" class="mat-elevation-z2">
  <div matRipple fxLayout fxLayoutAlign="center center" class="item">
    <mat-icon>person</mat-icon>
    <span class="item-label">Perfil</span>
  </div>
  <div matRipple fxLayout fxLayoutAlign="center center" class="item">
    <mat-icon>book</mat-icon>
    <span class="item-label">Livros</span>
  </div>
  <div matRipple fxLayout fxLayoutAlign="center center" class="item">
    <mat-icon>subject</mat-icon>
    <span class="item-label">Notícias</span>
  </div>
</mat-toolbar>
