<div *ngIf="loading == true" class="spinner-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
  <mat-spinner color="background-color"></mat-spinner>
  <h1 class="spinner-text">Editando...</h1>
</div>

<div *ngIf="loading == false && type == 0" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">  
  <h1 mat-dialog-title class="title">Editar Livro</h1>
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <p><b>Tem certeza que deseja editar o livro?</b></p>

    <div fxLayout="column" fxLayoutAlign="center start">
      <span>Título do Livro: <b>{{book.title}}</b></span>
      <span>Autor do Livro: <b>{{book.author}}</b></span>
      <span>Editora do Livro: <b>{{book.editor}}</b></span>
      <span>Categoria do Livro: <b>{{book.category}}</b></span>
      <span>Edição do Livro: <b>{{book.edition}}</b></span>
      <span>Ano do Livro: <b>{{book.year}}</b></span>
    </div> 

    <div fxLayout fxLayoutGap="20px" class="v-input">
      <button mat-raised-button class="dialog-button" color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button class="dialog-button" color="primary" (click)="edit()">Confirmar Edição</button>
    </div>
  </div>
</div>    

<div *ngIf="loading == false && type == 1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">  
  <h1 mat-dialog-title class="title">Editar Usuário</h1>
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <p><b>Tem certeza que deseja editar o usuário?</b></p>

    <div fxLayout="column" fxLayoutAlign="center start">
      <span>Nome do Usuário: <b>{{user.name}}</b></span>
      <span>E-mail do Usuário: <b>{{user.email}}</b></span>
      <span *ngIf="user.class != undefined">Turma do Usuário: <b>{{user.class}}</b></span>
      <span *ngIf="user.role != undefined">Função do Usuário: <b>{{user.role}}</b></span>
    </div> 

    <div fxLayout fxLayoutGap="20px" class="v-input">
      <button mat-raised-button class="dialog-button" color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button class="dialog-button" color="primary" (click)="edit()">Confirmar Edição</button>
    </div>
  </div>
</div> 

<div *ngIf="loading == false && type == 2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">  
  <h1 mat-dialog-title class="title">Editar Notícia</h1>
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <p><b>Tem certeza que deseja editar a notícia?</b></p>

    <div fxLayout="column" fxLayoutAlign="center start">
      <span>Título da Notícia: <b>{{notice.title}}</b></span>
    </div> 

    <div fxLayout fxLayoutGap="20px" class="v-input">
      <button mat-raised-button class="dialog-button" color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button class="dialog-button" color="primary" (click)="edit()">Confirmar Edição</button>
    </div>
  </div>
</div> 

<div *ngIf="loading == false && type == 3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">  
  <h1 mat-dialog-title class="title">Editar Turma</h1>
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <p><b>Tem certeza que deseja editar a turma?</b></p>

    <div fxLayout="column" fxLayoutAlign="center start">
      <span>Nome da Turma: <b>{{class.name}}</b></span>
    </div> 

    <div fxLayout fxLayoutGap="20px" class="v-input">
      <button mat-raised-button class="dialog-button" color="warn" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button class="dialog-button" color="primary" (click)="edit()">Confirmar Edição</button>
    </div>
  </div>
</div> 