.login-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(104, 58, 183, 0.8), rgba(104, 58, 183, 0.8)),
                url("./../../../../assets/login-bg.png") no-repeat center center fixed;
}

.login-card {
    width: 30%;
}

.form {
    width: 90%;
    padding-right: 16px;
    padding-left: 16px;
}

.buttons-container {
    width: 90%;
    padding-right: 16px;
    padding-left: 16px;
}

.form-button, .recover-button {
    width: 100%;
    margin-top: 8px;
}

.spinner-text {
    margin: 0!important;
}

.spinner-container {
    padding-top: 16px;
}