<div class="login-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="login-card mat-elevation-z4">
    <div *ngIf="loading == true" class="spinner-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
      <mat-spinner color="background-color"></mat-spinner>
      <h1 class="spinner-text">Carregando...</h1>
    </div>
    <div *ngIf="loading == false" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
      <img class="logo-image" mat-card-image src="./../../../../assets/logo.png">
      <form fxLayout="column" class="form" #f="ngForm" (ngSubmit)="login(f)">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" ngModel name="email" required #eInput="ngModel">
          <mat-error *ngIf="eInput.hasError('required')">Você deve colocar um email.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Senha" ngModel name="password" required #pInput="ngModel">
          <mat-error *ngIf="eInput.hasError('required')">Você deve colocar uma senha.</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" class="form-button" [disabled]="f.invalid">Entrar</button>
        <button mat-button color="primary" class="recover-button" (click)="recoverPassword()">Esqueceu sua senha? Clique aqui</button>
      </form>
    </div>
  </mat-card>
</div>
