<div class="title-bar" fxLayout fxLayoutAlign="center center">
  <h1 class="title">Cadastrar Turma</h1>
</div>
<section class="signin-form" fxLayoutAlign="center" fxLayoutGap="15px">
  <div *ngIf="loading == true" class="spinner-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">
    <mat-spinner color="background-color"></mat-spinner>
    <h1 class="spinner-text">Cadastrando Turma...</h1>
  </div>
  <mat-card *ngIf="loading == false" fxFlex="600px" class="add-card  mat-elevation-z4">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="addClass(f)">

      <mat-form-field class="v-input">
        <input type="text" matInput placeholder="Nome da Turma" ngModel name="name" required #bnInput="ngModel">
        <mat-error *ngIf="bnInput.hasError('required')">Você deve colocar o nome da turma.</mat-error>
      </mat-form-field>

      <button type="submit" class="v-input" mat-raised-button color="primary" [disabled]="f.invalid">Cadastrar Turma</button>
    </form>    
  </mat-card>
</section>