<div style="display: flex; flex-direction: column; width: 20%">
  <button (click)="addBook(bookNumber)">Adicionar Livro</button>
  <button (click)="getBooks()">Mostrar Livros</button>
  <div *ngIf="currentBook != null">
    <h2>Livro Aberto</h2>
    <button (click)="editBook(currentBook.id)">Editar este Livro</button>
    <p>Título: {{currentBook.title}}</p>
    <p>Autor: {{currentBook.author}}</p>
    <p>Categoria: {{currentBook.category}}</p>
    <p>Disponíveis: {{currentBook.available}}</p>
    <p>Edição: {{currentBook.edition}}</p>
    <p>Ano: {{currentBook.year}}</p>
    <p>Gêneros: {{currentBook.genders}}</p>
    <p>Quantidade: {{currentBook.quantity}}</p>
  </div>
</div>
<h2>Lista de Livros</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  <div *ngFor="let book of books" style="padding: 10px;">
    <button (click)="deleteBook(book.id)">Deletar este Livro</button>
    <button (click)="getBook(book.id)">Abrir este Livro</button>
    <p>Título: {{book.title}}</p>
    <p>Autor: {{book.author}}</p>
    <p>Categoria: {{book.category}}</p>
    <p>Disponíveis: {{book.available}}</p>
    <br/>
  </div>
</div>
<br><hr><br>
<div style="display: flex; flex-direction: column; width: 20%">
  <button (click)="addNotice(noticeNumber)">Adicionar Notícia</button>
  <button (click)="getNotices()">Mostrar Notícias</button>
  <div *ngIf="currentNotice != null">
    <h2> Notícia Aberta</h2>
    <button (click)="editNotice(currentNotice.id)">Editar esta Notícia</button>
    <p>Título: {{currentNotice.title}}</p>
    <p>Descrição: {{currentNotice.description}}</p>
    <p>Data: {{currentNotice.date}}</p>
    <p>Categoria: {{currentNotice.categories}}</p>
  </div>
</div>
<h2>Lista de Notícias</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  <div *ngFor="let notice of notices" style="padding: 10px;">
    <button (click)="deleteNotice(notice.id)">Deletar esta Notícia</button>
    <button (click)="getNotice(notice.id)">Abrir esta Notícia</button>
    <p>Título: {{notice.title}}</p>
    <p>Descrição: {{notice.description}}</p>
    <p>Data: {{notice.date}}</p>
    <p>Categoria: {{notice.categories}}</p>
    <br/>
  </div>
</div>
<br><hr><br>
<div style="display: flex; flex-direction: column; width: 20%">
  <button (click)="addUser(userNumber)">Adicionar Usuário</button>
  <button (click)="getUsers()">Mostrar Usuário</button>
  <div *ngIf="currentUser != null">
    <h2> Perfil do Usuário</h2>
    <button (click)="editUser(currentUser.id)">Editar este Usuário</button>
    <p>Nome: {{currentUser.name}}</p>
    <p>Ano: {{currentUser.grade}}</p>
    <p>Classe: {{currentUser.class}}</p>
    <p>Email: {{currentUser.email}}</p>
    <p>Telefone: {{currentUser.phone}}</p>
  </div>
</div>
<h2>Lista de Usuários</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  <div *ngFor="let user of users" style="padding: 10px;">
    <button (click)="deleteUser(user.id)">Deletar este Usuário</button>
    <button (click)="getUser(user.id)">Verificar este Usuário</button>
    <p>Nome: {{user.name}}</p>
    <p>Ano: {{user.grade}}</p>
    <p>Classe: {{user.class}}</p>
    <br/>
  </div>
</div>
<br><hr><br>
<div style="display: flex; flex-direction: column; width: 20%">
  <button (click)="addEmployee(employeeNumber)">Adicionar Funcionário</button>
  <button (click)="getEmployees()">Mostrar Funcionário</button>
  <div *ngIf="currentEmployee != null">
    <h2> Perfil do Funcionário</h2>
    <button (click)="editEmployee(currentEmployee.id)">Editar este Funcionário</button>
    <p>Nome: {{currentEmployee.name}}</p>
    <p>Email: {{currentEmployee.email}}</p>
    <p>Telefone: {{currentEmployee.phone}}</p>
  </div>
</div>
<h2>Lista de Funcionários</h2>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  <div *ngFor="let employee of employees" style="padding: 10px;">
    <button (click)="deleteEmployee(employee.id)">Deletar este Funcionário</button>
    <button (click)="getEmployee(employee.id)">Verificar este Funcionário</button>
    <p>Nome: {{employee.name}}</p>
    <p>Email: {{employee.email}}</p>
    <p>Telefone: {{employee.phone}}</p>
    <br/>
  </div>
</div>
