<div class="title-bar" fxLayout fxLayoutAlign="center center">
  <h1 class="title">Lista de Usuários</h1>
</div>
<mat-tab-group class="group-container">
  <mat-tab label="Alunos" class="tab-container">
    <mat-drawer-container class="drawer-container">
      <mat-drawer position="end" #sDrawer mode="over" class="drawer" fxLayout fxLayoutAlign="center center">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="user-form" #f1="ngForm"> 

          <mat-card-title>Editar Aluno</mat-card-title>
          
          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="Nome do Aluno" ngModel name="name" value="{{user.name}}">
          </mat-form-field>

          <mat-form-field class="v-input">
            <mat-select placeholder="Turma do Aluno" name="class" ngModel value="{{user.class}}">
              <mat-option *ngFor="let class of classes" [value]="class">
                {{class}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="E-mail do Aluno" ngModel name="email" value="{{user.email}}">
          </mat-form-field>
      
          <div fxLayout fxLayoutGap="20px" class="v-input">
            <button mat-button class="form-button" color="warn" (click)="closeSidenav(0)">Cancelar</button>
            <button mat-raised-button class="form-button" color="primary" (click)="editUser(f1, 0)">Confirmar Edição</button>
          </div>
          <button mat-raised-button class="v-input" color="warn"(click)="deleteUser(0)">Excluir Aluno</button>
        </form>
      </mat-drawer>
      <div class="container mat-elevation-z4" style="margin-top: 5vh;">
        <div class="header mat-elevation-z2">
          <mat-form-field>
            <input matInput (keyup)="sApplyFilter($event.target.value)" placeholder="Pesquisar">
          </mat-form-field>
        </div>
        <mat-table #sTable #sSort="matSort" [dataSource]="sDataSource" matSort>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Turma </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{student.class}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{student.email}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="sDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let student; columns: sDisplayedColumns;" matRipple [matRippleColor]="ripple" class="row" (click)="toggleSidenav(0, student)">
          </mat-row>
        </mat-table>

        <mat-paginator #sPaginator [pageSize]="10" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-drawer-container>
  </mat-tab>

  <mat-tab label="Professores">
    <mat-drawer-container class="drawer-container">
      <mat-drawer position="end" #tDrawer mode="over" class="drawer" fxLayout fxLayoutAlign="center center">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="user-form" #f2="ngForm"> 

          <mat-card-title>Editar Professor</mat-card-title>
          
          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="Nome do Professor" ngModel name="name" required value="{{user.name}}">
          </mat-form-field>

          <mat-form-field class="v-input">
            <mat-select placeholder="Matéria do Professor" required name="subject" ngModel value="{{user.subject}}">
              <mat-option *ngFor="let subject of subjects" [value]="subject">
                {{subject}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="E-mail do Professor" ngModel name="email" value="{{user.email}}">
          </mat-form-field>
      
          <div fxLayout fxLayoutGap="20px" class="v-input">
            <button mat-button class="form-button" color="warn" (click)="closeSidenav(1)">Cancelar</button>
            <button mat-raised-button class="form-button" color="primary" (click)="editUser(f2, 1)">Confirmar Edição</button>
          </div>
          <button mat-raised-button class="v-input" color="warn"(click)="deleteUser(1)">Excluir Professor</button>
        </form>
      </mat-drawer>
      <div class="container mat-elevation-z4" style="margin-top: 5vh;">
        <div class="header mat-elevation-z2">
          <mat-form-field>
            <input matInput (keyup)="tApplyFilter($event.target.value)" placeholder="Pesquisar">
          </mat-form-field>
        </div>
        <mat-table #sTable #tSort="matSort" [dataSource]="tDataSource" matSort>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let teacher"> {{teacher.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="subject">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Matéria </mat-header-cell>
            <mat-cell *matCellDef="let teacher"> {{teacher.subject}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
            <mat-cell *matCellDef="let teacher"> {{teacher.email}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let teacher; columns: tDisplayedColumns;" matRipple [matRippleColor]="ripple" class="row" (click)="toggleSidenav(1, teacher)">
          </mat-row>
        </mat-table>

        <mat-paginator #tPaginator [pageSize]="10" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-drawer-container>
  </mat-tab>

  <mat-tab label="Outros">
    <mat-drawer-container class="drawer-container">
      <mat-drawer position="end" #oDrawer mode="over" class="drawer" fxLayout fxLayoutAlign="center center">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="user-form" #f3="ngForm"> 

          <mat-card-title>Editar Usuário</mat-card-title>
          
          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="Nome do Usuário" ngModel name="name" value="{{user.name}}">
          </mat-form-field>

          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="Função do Usuário" ngModel name="role" value="{{user.role}}">
          </mat-form-field>

          <mat-form-field class="v-input">
            <input type="text" matInput placeholder="E-mail do Usuário" ngModel name="email" value="{{user.email}}">
          </mat-form-field>
      
          <div fxLayout fxLayoutGap="20px" class="v-input">
            <button mat-button class="form-button" color="warn" (click)="closeSidenav(2)">Cancelar</button>
            <button mat-raised-button class="form-button" color="primary" (click)="editUser(f3, 2)">Confirmar Edição</button>
          </div>
          <button mat-raised-button class="v-input" color="warn"(click)="deleteUser(2)">Excluir Usuário</button>
        </form>
      </mat-drawer>
      <div class="container mat-elevation-z4" style="margin-top: 5vh;">
        <div class="header mat-elevation-z2">
          <mat-form-field>
            <input matInput (keyup)="oApplyFilter($event.target.value)" placeholder="Pesquisar">
          </mat-form-field>
        </div>
        <mat-table #sTable #oSort="matSort" [dataSource]="oDataSource" matSort>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Função </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="oDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let user; columns: oDisplayedColumns;" matRipple [matRippleColor]="ripple" class="row" (click)="toggleSidenav(2, user)">
          </mat-row>
        </mat-table>

        <mat-paginator #oPaginator [pageSize]="10" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-drawer-container>
  </mat-tab>

</mat-tab-group>
